:root{
  --very_dark_blue: hsl(233, 47%, 7%);
  --dark_desaturated: hsl(244, 38%, 16%);
  --soft_violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --Slighy_white: hsla(0, 0%, 100%, 0.75);
  --Slightly_transparent: hsla(0, 0%, 100%, 0.6);
}
*{
  box-sizing: border-box;
}
body{
  background-color: var(--very_dark_blue);
  color: var(--white);
  font-family: 'Lexend Deca', sans-serif;
  font-size: .9375rem;
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 8vh;
}
.card{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:86%;
  max-width: 650px;
  margin-bottom: 5vh;
  border-radius: .7em;
  background-color: var(--dark_desaturated);
  overflow: hidden;
}
.card--picture{
  position: relative;
}
.card--header{
  width: 100%;
  height: 100%;
  filter: blur(.5px);
}
.card--color{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: hsl(277 100% 20% / .6);
}
.cardt{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.card--title{
  width: 87%;
  font-size: 1.8rem;
  font-family: Inter, sans-serif;
  text-align: center;
}
.h1--span{
  color: var(--soft_violet);
}
.card--p{
  width: 84%;
  margin-top: -4px;
  color: var(--Slightly_transparent);
  text-align: center;
  line-height: 1.4em
}
.stas:last-child{
  text-transform: uppercase;
}
.stas--title{
  font-family: Inter, sans-serif;
  text-align: center;
}
.title-span{
  font-family: "Lexend Deca", sans-serif;
  color: var(--Slightly_transparent);
  text-transform: uppercase;
  font-size: .85rem;
  font-weight: 400;
  letter-spacing: 0.028em;
}
@media (min-width: 1200px) {
  main{
    padding-top: 0;
  }
  .card{
    flex-direction: row-reverse ;
    align-content: space-evenly;
    max-width: 1065px;
    max-height:449px;
    margin-bottom: 0;
  }
  .card--header{
    width: 100%;
}
  .card--picture{
    width: 100%;
    max-height:449px;
    max-width: 587px;
  }
  .card--color{
    width: 100%;
    height:100%;
  }
  .cardt{
    max-width: 460px;
    margin-left: 2em;
  }
  .card--title{
    margin-top: 20px;
    margin-bottom: 1em;
    font-size: 2.2rem;
    text-align: left;
  }
  .card--p{
    align-self:flex-start;
    margin-left: 2em;
    margin-bottom: 2em;
    text-align: left;
    line-height: 1.8em;
    width: 78%;
  }
  .container{
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 2em;
  }
  .stas--title{
    text-align:left
  }
}